@use "./variables" as *;

.calculator {
  background-color: $primary-colour;
  padding: 50px;
  display: flex;
  flex-direction: column;

  &__screen-section {
    display: flex;
    padding: 20px;
    background-color: $primary-colour;
    border: solid 2px black;
  }

  &__number-pad {
    border: solid 2px blue;
    background-color: aqua;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);

    &__button {
      background-color: yellow;
    }
  }
}
